nav.navbar {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #82d2c9 100%);    
}

button.navbar-toggler {
    background-color: #82d2c9;
    outline: none;
}

.card {
    box-shadow:
  0 2.3px 5px -14px rgba(0, 0, 0, 0.08),
  0 4px 11.3px -14px rgba(0, 0, 0, 0.115),
  0 5.8px 24.2px -14px rgba(0, 0, 0, 0.15),
  0 9px 119px -14px rgba(0, 0, 0, 0.23)
;

}

body {
    margin-top: 55px;
}